<form
  class="form-horizontal"
  autocomplete="off"
  #editPaidForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit payment'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">   
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="paymentAmount">
          {{ "Amount" | localize }}
        </label>
        <div class="col-md-9">
            <p-inputNumber [(ngModel)]="payment.paymentAmount" [style]="{'width':'100%'}" name="paymentAmount"></p-inputNumber>
        </div>
      </div>       
      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="dateOfPayment">
          Payment Date
        </label>
        <div class="col-md-9">
          <input class="form-control" 
            type="date" 
            name="dateOfPayment" 
            [(ngModel)]="dateOfPayment" 
          />
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="paidForMonth">
          Paid for month
        </label>
        <div class="col-md-9">
            <input id="paid-month" type="month" name="paid-month" [(ngModel)]="paidForMonth" class="form-control" >
        </div>
      </div>   
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editPaidForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
