<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>{{ "Students" | localize }}</h1>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="createStudent()">
              <i class="fa fa-plus-square"></i>
              {{ "Create" | localize }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"
                (keyup.enter)="getDataPage(1)"
              />
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" [busy]="isTableLoading">
              <thead class="bg-light">
                <tr>                  
                  <th>{{ "FullName" | localize }}</th>
                  <th>{{ "DateOfBirth" | localize }}</th>
                  <th>{{ "Email" | localize }}</th>
                  <th>{{ "PhoneNumber" | localize }}</th>
                  <th>{{ "Description" | localize }}</th>
                  <th>{{ "SchoolName" | localize }}</th>
                  <th>{{ "ClassName" | localize }}</th>
                  <th>{{ "StartDate" | localize }}</th>
                  <th>{{ "EndDate" | localize }}</th>
                  <th>{{ "IsActive" | localize }}</th>
                  <th style="width: 200px;">{{ "Actions" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let student of students
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                >                  
                  <td>{{ student.fullName }}</td>
                  <td>{{ student.dateOfBirth | date}}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.phoneNumber }}</td>
                  <td>{{ student.description }}</td>
                  <td>{{ student.schoolName }}</td>
                  <td>{{ student.className }}</td>
                  <td>{{ student.startDate | date}}</td>
                  <td>{{ student.endDate | date}}</td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        disabled
                        [checked]="student.isActive"
                      />
                      <label class="custom-control-label"></label>
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm bg-secondary"
                      (click)="editStudent(student)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-2"
                      (click)="delete(student)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-info mx-2"
                      (click)="fee(student)"
                    >
                    <i class="fas fa-dollar-sign"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-warning mx-2"
                      (click)="scheduler(student)"
                    >
                    <i class="fas fa-calendar-week"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-success mx-2"
                      (click)="comment(student)"
                    >
                    <i class="far fa-comment-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: totalItems }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls
                    id="server"
                    (pageChange)="getDataPage($event)"
                  >
                  </abp-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  