<form
  class="form-horizontal"
  autocomplete="off"
  #editCourseModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit course'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Course details'" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="course.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            Description
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="description"
              id="description"
              [(ngModel)]="course.description"
            >
            </textarea>
          </div>
        </div>
        
      </tab>
      <tab [heading]="'Subjects'" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let subject of subjects; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'subject_' + i"
                  [checked]="isSubjectChecked(subject.name)"
                  (change)="onSubjectChange(subject, $event)"
                />
                <label class="custom-control-label" [for]="'subject_' + i">
                  {{ subject.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCourseModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
