<form
  class="form-horizontal"
  autocomplete="off"
  #editStudyForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">   
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Name" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
            minlength="2"
            maxlength="32"
            [(ngModel)]="studyTime.name"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>        
      
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="fromHour">
          From hour
        </label>
        <div class="col-md-3">
          <p-inputMask [(ngModel)]="studyTime.fromHour" name="fromHour" mask="99:99"></p-inputMask>
        </div>
        <label class="col-md-3 col-form-label" for="toHour">
          From hour
        </label>
        <div class="col-md-3">
          <p-inputMask [(ngModel)]="studyTime.toHour" name="toHour" mask="99:99"></p-inputMask>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="sortOrder">
          Sort order
        </label>
        <div class="col-md-9">
            <input
            type="number"
            class="form-control"
            name="sortOrder"
            id="sortOrder"
            [(ngModel)]="studyTime.sortOrder"
          />
        </div>
      </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editStudyForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
