.timepicker-overlay {
    z-index: 1100 !important;
  }
  
  .timepicker-backdrop-overlay {
    z-index: 1100 !important;
  }

.btn-full-width-height{
  width: 100% !important;
  height: 100% !important;
}  

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
  margin: auto;
  padding-left: 5px;
}

.cal-week-view .cal-event {    
  color: aliceblue !important;
  font-weight: 500 !important;
}