<div>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>{{ "Configuration" | localize }}</h1>
          </div>          
        </div>
      </div>
    </section>
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <p-tabView>
                    <p-tabPanel [header]="setting.name" *ngFor="let setting of settings; let i = index" [selected]="i == 0">
                        <div *ngFor="let item of setting.value" class="form-group row">
                            <div class="col-sm-4 col-12">{{item.displayName}}</div>
                            <div class="col-sm-8 col-12">
                                <input
                                type="text"
                                class="form-control"
                                name="value"
                                id="value"                                
                                [(ngModel)]="item.value"
                                #nameModel="ngModel"
                                #nameEl
                              />
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="card-footer bg-light border-top">
                <div class="row">                  
                  <div class="col-sm-12 col-12">
                    <div class="float-sm-right m-auto">
                        <p-button label="Save" (click)="Save()"></p-button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
  </div>
  