<form
  class="form-horizontal"
  autocomplete="off"
  #createTimeSheetForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateTimeScheduler' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">   

    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="startDate">
        Start Date
      </label>
      <div class="col-md-6">
        <input class="form-control" 
          type="date" 
          name="startDate" 
          [(ngModel)]="timeSheet.start" 
        />
      </div>
      <div class="col-md-3">
        <input placeholder="00:00" class="form-control" [(ngModel)]="startHour" name="startHour" [ngxTimepicker]="fullTimeStart" [format]="24" >
        <ngx-material-timepicker #fullTimeStart></ngx-material-timepicker>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="endDate">
        End Date
      </label>
      <div class="col-md-6">
        <input class="form-control" 
          type="date" 
          name="endDate" 
          [(ngModel)]="timeSheet.end" 
        />
      </div>
      <div class="col-md-3">
        <input placeholder="00:00" class="form-control" [(ngModel)]="endHour" name="endHour" [ngxTimepicker]="fullTimeEnd" [format]="24" >
        <ngx-material-timepicker #fullTimeEnd></ngx-material-timepicker>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-md-3 col-form-label">
        Course
      </label>
      <div class="col-md-3">
        <p-dropdown [options]="courses" autoWidth="false" [style]="{'width':'100%'}" name="courses" [(ngModel)]="selectCourse" (onChange)="changeCourse($event)" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a course">          
        </p-dropdown>
      </div>
      
      <label class="col-md-2 col-form-label">
        Subject
      </label>
      <div class="col-md-4">
        <p-dropdown [options]="courseSubjects" autoWidth="false" [style]="{'width':'100%'}" name="courseSubjects" [(ngModel)]="selectSubject" placeholder="Select a subject" optionLabel="subjectName" [showClear]="true"></p-dropdown>        
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-md-3 col-form-label">
        Teacher
      </label>
      <div class="col-md-9">
        <p-dropdown [options]="teachers" autoWidth="false" [style]="{'width':'100%'}" name="courses" [(ngModel)]="selectedTeacher" optionLabel="fullName" [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Select a teacher">          
        </p-dropdown>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-9 offset-md-3">
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="isSingle" binary="true" inputId="isSingle" name="isSingle"></p-checkbox>
          <label for="isSingle">Is learn 1-1</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">
        <label class="col-form-label" for="description">
          {{ "Student" | localize }}
        </label>
      </div>
      <div class="col-md-9" *ngIf="isSingle; else isMultiple">
        <p-dropdown [options]="students" autoWidth="false" [style]="{'width':'100%'}" name="students" [(ngModel)]="selectedStudent" optionLabel="fullName" [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Select a student">          
        </p-dropdown>          
      </div>
      <ng-template #isMultiple>
        <div class="col-md-8">
          <p-dropdown [options]="students" autoWidth="false" [style]="{'width':'100%'}" name="students" [(ngModel)]="selectedStudent" optionLabel="fullName" [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Select a student">          
          </p-dropdown>          
        </div>
        <div class="col-md-1 text-left">
          <button
            type="button"
            class="btn btn-sm bg-success btn-full-width-height"
            (click)="addStudent(selectedStudent)"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </ng-template>      
    </div>
    
    <div class="form-group row" *ngIf="!isSingle">
      <table class="table table-hover text-nowrap">
        <thead class="bg-light">
          <tr>                  
            <th>{{ "FullName" | localize }}</th>
            <th style="width: 100px;">{{ "DateOfBirth" | localize }}</th>
            <th style="width: 200px;">{{ "Email" | localize }}</th>
            <th style="width: 100px;">{{ "PhoneNumber" | localize }}</th>
            <th style="width: 100px;">{{ "SchoolName" | localize }}</th>
            <th style="width: 50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let student of selectedStudents                  
            "
          >                  
            <td>{{ student.fullName }}</td>
            <td>{{ student.dateOfBirth | date}}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phoneNumber }}</td>
            <td>{{ student.schoolName }}</td>
            <td>
              <button
                type="button"
                class="btn btn-sm bg-danger mx-2"
                (click)="removeStudent(student)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createTimeSheetForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
