<form
  class="form-horizontal"
  autocomplete="off"
  #editTeacherForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit teacher'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">   
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="firstName">
          First Name
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="firstName"
            required
            minlength="2"
            maxlength="32"
            [(ngModel)]="teacher.firstName"
            #firstNameModel="ngModel"
            #firstNameEl
          />
          <abp-validation-summary
            [control]="firstNameModel"
            [controlEl]="firstNameEl"
          ></abp-validation-summary>
        </div>
      </div>  
      
      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="middleName">
          Middle Name
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="middleName"
            [(ngModel)]="teacher.middleName"
          />
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="lastName">
          Last Name
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="lastName"
            id="lastName"
            [(ngModel)]="teacher.lastName"
          />
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="dateOfBirth">
          Date of birth
        </label>
        <div class="col-md-9">
          <input class="form-control" 
            type="date" 
            name="dateOfBirth" 
            [(ngModel)]="teacher.dateOfBirth" 
          />
        </div>
      </div>

      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="emailAddress">
          Email
        </label>
        <div class="col-md-9">
          <input
            type="email"
            class="form-control"
            name="emailAddress"
            id="emailAddress"
            required
            maxlength="256"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
            [(ngModel)]="teacher.email"
            #emailAddressModel="ngModel"
            #emailAddressEl
          />
          <abp-validation-summary
            [control]="emailAddressModel"
            [controlEl]="emailAddressEl"
          ></abp-validation-summary>
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="phoneNumber">
          Phone Number
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="phoneNumber"
            [(ngModel)]="teacher.phoneNumber"
          />
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="salary">
          Salary
        </label>
        <div class="col-md-9">
          <input
            type="number"
            class="form-control"
            name="salary"
            id="salary"
            [(ngModel)]="teacher.salary"
          />
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="description">
          Description
        </label>
        <div class="col-md-9">
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="description"
            [(ngModel)]="teacher.description"
          >
          </textarea>
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="startDate">
          Start Date
        </label>
        <div class="col-md-9">
          <input class="form-control" 
            type="date" 
            name="startDate" 
            [(ngModel)]="teacher.startDate" 
          />
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="endDate">
          End Date
        </label>
        <div class="col-md-9">
          <input class="form-control" 
            type="date" 
            name="endDate" 
            [(ngModel)]="teacher.endDate" 
          />
        </div>
      </div>

      <div class="form-group row ">
        <label class="col-md-3 col-form-label">
          Is active
        </label>
        <div class="col-md-9">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              name="isActive"
              id="isActive"
              [(ngModel)]="teacher.isActive"
            />
            <label class="custom-control-label mt-2" for="isActive"></label>
          </div>
        </div>
      </div>

  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editTeacherForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
