<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h1>Time scheduler</h1>
        </div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-4 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createScheduler()">
            <i class="fa fa-plus-square"></i>
            Create
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row" *ngIf="events">
        <p-table [value]="dayInWeeks" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th rowspan="3" style="width: 120px;"></th>              
            </tr>
            <tr>
              <th *ngFor="let item of rooms" [attr.colspan]="studyTimes.length" style="padding: 0;width: 300px;" class="text-center">
                <h4>{{item.name}}</h4>
              </th>
            </tr>
            <tr>
              <ng-container *ngFor="let room of rooms" >
                <th *ngFor="let item of studyTimes" style="padding: 0" class="text-center">{{item.fromHour}} <br /> {{item.toHour}}</th>   
              </ng-container>               
            </tr>            
          </ng-template>
          <ng-template pTemplate="body" let-day>
            <tr>
              <td style="width: 120px;">
                <h5 class="text-center">{{day | date:'E'}}</h5>
                {{day | date:'dd-MM-yyyy'}}
              </td>
              <ng-container *ngFor="let room of rooms" >
                  <td *ngFor="let studyTime of studyTimes" style="padding: 0;color: whitesmoke;font-size: 10px;height: 100px;">
                    <ng-container *ngTemplateOutlet="memberTemplate; context:{o: getTimeScheduler(day,studyTime,room) }">
                    </ng-container>
                    <ng-template #memberTemplate let-scheduler="o">
                      <ng-container *ngIf="scheduler">
                        <div [ngStyle]="{'background-color': scheduler.teacher.color ? scheduler.teacher.color : 'gray','height.px':100}">
                          <div style="border-bottom: 1px solid gray;">{{scheduler.teacher.fullName}}</div>                          
                          <div>{{scheduler.courseSubject.courseName}}</div>
                          <div style="border-bottom: 1px solid gray;">{{scheduler.courseSubject.subjectName}}</div>
                          <div *ngFor="let studentTime of scheduler.timeSheetStudents">
                            {{studentTime.student.fullName}}
                          </div>
                        </div>
                      </ng-container>
                    </ng-template>
                  </td>
              </ng-container>                                
            </tr>
          </ng-template>
        </p-table>
      </div>      
    </div>
  </section>
</div>
