<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <span class="p-buttonset">
            <button pButton pRipple label="Previous" class="button-week-group" (click)="previousWeek()"></button>
            <button pButton pRipple label="This week" class="p-button-secondary button-week-group-current" (click)="currentWeek()"></button>
            <button pButton pRipple label="Next" class="button-week-group" (click)="nextWeek()"></button>
          </span>
        </div>
        <div class="col-md-4 text-center">
          <p-dropdown required [options]="tenants" [style]="{'width':'100%'}" [(ngModel)]="selectedTenant" name="tenants" placeholder="Select a tenant" optionLabel="name" (onChange)="changeTenant($event)"></p-dropdown>        
        </div>
        <div class="col-4 text-right">
          <p-button (click)="createScheduler()">
            <i class="fa fa-plus-square"></i> Create
          </p-button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row" *ngIf="events">
        <p-table [value]="events" sortField="weekDay" sortMode="single" (onSort)="onSort()" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="650px" [lazy]="true" [loading]="loading" >
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 150px;"></th>
                  <th style="width: 150px;"></th>
                  <ng-container *ngFor="let room of rooms" >
                    <th class="text-center">
                      <h5>{{room.name}}</h5>
                    </th>   
                  </ng-container>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event let-rowIndex="rowIndex">
              <tr>
                  <td style="width: 150px;" *ngIf="rowGroupMetadata[event.weekDay].index === rowIndex" [attr.rowspan]="rowGroupMetadata[event.weekDay].size">
                    <div class="text-center">
                      <h5 class="p-text-bold p-ml-2" style="font-weight: bold;">{{event.weekDay | date:'E'}}</h5>
                      <span class="p-text-bold p-ml-2">{{event.weekDay | date:'dd-MM-yyyy'}}</span>
                    </div>
                  </td>
                  <td style="width: 150px;" class="text-right">
                      {{event.fromHour + ' - ' +  event.toHour}}
                  </td>
                  <ng-container *ngFor="let room of rooms" >
                    <td style="padding: 0;color: whitesmoke;font-size: 10px;height: 70px;">
                      <ng-container *ngTemplateOutlet="memberTemplate; context:{o: getTimeScheduler(event.weekDay,event.id,room) }">
                      </ng-container>
                      <ng-template #memberTemplate let-scheduler="o">
                        <ng-container *ngIf="scheduler">
                          <div [ngStyle]="{'background-color': scheduler.teacher.color ? scheduler.teacher.color : 'gray','height.px':100,'padding.px':1,'cursor':'pointer','position':'relative'}">
                            <div (click)="editScheduler(scheduler);">
                              <span style="float: left;">{{scheduler.teacher.fullName}}</span>
                              <span style="float: right;font-size: 12px;">
                                <i class="fas fa-edit"></i>
                              </span>
                            </div>                          
                            <div style="border-bottom: 1px solid white;clear: both;">{{scheduler.courseSubject.courseName}} - {{scheduler.courseSubject.subjectName}}</div>
                            <ng-template *ngIf="scheduler.timeSheetStudents.length < 4;then showBlock; else notShowBlock">
                            </ng-template>
                            <ng-template #showBlock>
                              <div *ngFor="let studentTime of scheduler.timeSheetStudents;index as i" style="font-size: 9px;">                                
                                  {{studentTime.student.fullName}}
                              </div>
                            </ng-template>
                            <ng-template #notShowBlock>
                              <div *ngFor="let studentTime of scheduler.timeSheetStudents;index as i" style="font-size: 9px;">  
                                <div *ngIf="i<4">
                                  {{studentTime.student.fullName}}
                                </div>
                              </div> 
                              ...                             
                            </ng-template>
                            <span style="position:absolute; bottom:2px; right:2px;">
                              <i class="fas fa-user-friends" (click)="setSelected(scheduler.timeSheetStudents);op.toggle($event)"></i>                              
                            </span>
                          </div>
                        </ng-container>
                      </ng-template>
                    </td>
                  </ng-container>                  
              </tr>
          </ng-template>
        </p-table>
      </div>      
    </div>
  </section>
</div>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
  <ng-template pTemplate>
    <div *ngFor="let studentTime of students;index as i" style="font-size: 9px;">  
        {{studentTime.student.fullName}}
    </div>
  </ng-template>
</p-overlayPanel>
