<p-table [value]="teacherProductivities" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>            
            <th>Name</th>
            <th>Hours</th>
            <th>Amount</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
        <tr>
            <td><div [ngStyle]="{'color': teacher.teacher.color ? teacher.teacher.color : 'gray'}">{{teacher.teacher.fullName}}</div></td>
            <td>{{teacher.hour}}</td>
            <td>{{teacher.fee | currency: 'VND'}}</td>
        </tr>
    </ng-template>
</p-table>