<form
  class="form-horizontal"
  autocomplete="off"
  #editClassForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditClass' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">   
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Name" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
            minlength="2"
            maxlength="32"
            [(ngModel)]="classdto.name"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>        
      <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="description">
          {{ "ClassDescription" | localize }}
        </label>
        <div class="col-md-9">
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="description"
            [(ngModel)]="classdto.description"
          >
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="description">
          {{ "Student" | localize }}
        </label>
        <div class="col-md-8">
          <p-dropdown [options]="students" autoWidth="false" [style]="{'width':'100%'}" name="students" [(ngModel)]="selectedStudent" optionLabel="fullName" [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Select a student">          
          </p-dropdown>          
        </div>
        <div class="col-md-1 text-left">
          <button
            type="button"
            class="btn btn-sm bg-success"
            (click)="addStudent(selectedStudent)"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="form-group row">
        <table class="table table-hover text-nowrap">
          <thead class="bg-light">
            <tr>                  
              <th>{{ "FullName" | localize }}</th>
              <th style="width: 100px;">{{ "DateOfBirth" | localize }}</th>
              <th style="width: 100px;">{{ "Email" | localize }}</th>
              <th style="width: 100px;">{{ "PhoneNumber" | localize }}</th>
              <th style="width: 100px;">{{ "SchoolName" | localize }}</th>
              <th style="width: 100px;">{{ "Actions" | localize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let student of selectedStudents                  
              "
            >                  
              <td>{{ student.fullName }}</td>
              <td>{{ student.dateOfBirth | date}}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.phoneNumber }}</td>
              <td>{{ student.schoolName }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm bg-danger mx-2"
                  (click)="removeStudent(student)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editClassForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
